{% extends 'base.html' %}
{%block head_title%}Subscriber API Management - {%endblock%}
{% block body %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                電子報系統設定
            </h1>
            <h2 class="subtitle">
                API Token 設定
            </h2>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="tabs is-boxed">
            <div class="container">
                <ul>
                    <li class="is-active"><span class="has-text-black"><a href="/">返回</a></span></li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<section class="section">
    <div class="container" id="tokenManagement" v-cloak>
        <div class="field">
            <button class="button" :class="{ 'is-loading': isLoading }" v-on:click="setIsCreateTokenModalActive(true)">新增 Token</button>
            <button class="button is-danger" :class="{ 'is-loading': isLoading }" :disabled="selectedToken.length === 0" v-on:click="setIsRemoveTokenModalActive(true)">刪除選定 Token</button>
        </div>
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>勾選</th>
                        <th>標籤</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="token in tokenList">
                        <td><input type="checkbox" :value="token" v-model="selectedToken" /></td>
                        <td>[[ token.label ]]</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="create-token-modal" class="modal" :class="{ 'is-active': isCreateTokenModalActive }">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">新增 Token</p>
                    <button class="delete" aria-label="close" v-on:click="setIsCreateTokenModalActive(false)"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <label class="label">Token 標籤</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="輸入 Token 標籤" v-model="createNewTokenForm.label" />
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <div class="buttons">
                        <button class="button is-primary" :class="{ 'is-loading': isLoading }" v-on:click="createToken">送出</button>
                        <button class="button" v-on:click="setIsCreateTokenModalActive(false)">取消</button>
                    </div>
                </footer>
            </div>
        </div>
        <div id="create-token-successful-modal" class="modal" :class="{ 'is-active': isCreateTokenSuccessfulModalActive }">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">新增 Token 成功</p>
                </header>
                <section class="modal-card-body">
                    <div class="content">
                        <p>此 Token 只會顯示一次，關掉此畫面後便無法複製此 Token</p>
                        <ul>
                            <li><b>標籤：</b>[[ createNewTokenResp.label ]]</li>
                            <li><b>Token：</b>[[ createNewTokenResp.token ]]</li>
                        </ul>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <div class="buttons">
                        <button class="button is-success" v-on:click="reload">確認</button>
                    </div>
                </footer>
            </div>
        </div>
        <div id="remove-tokens-modal" class="modal" :class="{ 'is-active': isRemoveTokenModalActive }">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">移除 Token</p>
                    <button class="delete" aria-label="close" v-on:click="setIsRemoveTokenModalActive(false)"></button>
                </header>
                <section class="modal-card-body">
                    <div class="content">
                        <p>是否確認要刪除以下 Token</p>
                        <ul>
                            <li v-for="token in selectedToken">[[ token.label ]]</li>
                        </ul>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <div class="buttons">
                        <button class="button is-danger" :class="{ 'is-loading': isLoading }" v-on:click="deleteTokens">確認刪除</button>
                        <button class="button" v-on:click="setIsRemoveTokenModalActive(false)">取消</button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script src="/js/axios.min.js"></script>
<script>
    (() => {
        let $tokenManagement = new Vue({
            el: '#tokenManagement',
            data: {
                isCreateTokenModalActive: false,
                isCreateTokenSuccessfulModalActive: false,
                isRemoveTokenModalActive: false,
                tokenList: [],
                selectedToken: [],
                createNewTokenForm: {
                    label: '',
                },
                createNewTokenResp: {
                    label: '',
                    token: '',
                },
                isLoading: false,
            },
            mounted: async function() {
                this.isLoading = true;
                const { data } = await axios.get('./list');
                this.tokenList = data.tokens;
                this.isLoading = false;
            },
            methods: {
                setIsCreateTokenModalActive: function (isActive) {
                    this.isCreateTokenModalActive = isActive;
                },
                setIsCreateTokenSuccessfulModalActive: function (isActive) {
                    this.isCreateTokenSuccessfulModalActive = isActive;
                },
                setIsRemoveTokenModalActive: function (isActive) {
                    this.isRemoveTokenModalActive = isActive;
                },
                createToken: async function() {
                    try {
                        this.isLoading = true;
                        const { data } = await axios.post('./', this.createNewTokenForm);
    
                        this.createNewTokenResp = data;
    
                        this.setIsCreateTokenModalActive(false);
                        this.setIsCreateTokenSuccessfulModalActive(true);
                    } catch(err) {
                        const { message } = err.response.data;
                        alert(message);
                    } finally {
                        this.isLoading = false;
                    }
                },
                deleteTokens: async function() {
                    const tokens = this.selectedToken.map(({ serial_no }) => serial_no)
                    await axios.delete('./', { data: { tokens } })
                    window.location.reload();
                },
                reload: function() {
                    window.location.reload();
                },
            },
            delimiters: ['[[', ']]']
        });
    })();
</script>
{% endblock %}
